{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Realive</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mainArea">
  <div class="wrap">
   <div class="search">
      <input id="searchText" class="searchTerm" type="text" size="10" placeholder="Search online...">
      <button id="searchBtn" class="searchButton" type="button" onclick="searchStreamer()">
        <i class="fa fa-search"></i>
     </button>
     <select class="form-control" id="searchOption">
      <option value="online">直播中</option>
      <option value="offline">離線</option>
      <option value="all">全部</option>
     </select>
   </div>
  </div>
    <div id="streamer_grid">
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/index.js' %}"></script>
<script src="/static/js/keys.js"></script>
<script type="text/javascript">
  window.CSRF_TOKEN = "{{ csrf_token }}"
</script>
{% endblock %}
