{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Realive</title>
{% endblock %}

{% block css %}
<!-- None others css -->
{% endblock %}

{% block content %}

<style>
  #inputArea {
    width:50%;
    margin-left:20%;
    margin-right:20%;
  }
</style>

{% if request.user.is_authenticated %}
<div id="modifyPasswordForm" class="container mainArea" >
    <form method="POST">{% csrf_token %}
      <div id="inputArea" >

          <label class="row"><b> 舊密碼</b></label>
          <input type="password" name="oldPassword" required="" maxlength="150" id="oldPassword" >

          <label class="row"><b> 密碼</b></label>
          <input type="password" name="newPassword1" required="" id="newPassword1">

          <label class="row"><b> 確認密碼</b></label>
          <input type="password" name="newPassword2" required="" id="newPassword2">

          <div class="row">
            <button class="col btn btn-primary" type="submit" id="modifyBtnSubmit">確認修改</button>
            <button class="col btn btn-primary" type="button" id="backBtn" onclick="BackToPage()">返回上頁</button>
          </div>
      </div>
    </form>
</div>
{% else %}
<h1 class="mainArea">尚未登入 !</h1>
{% endif %}
{% endblock %}

{% block js %}
<script>
  $(function(){
    $("#modifyPasswordForm").submit(function(e){
      e.preventDefault();

      csrfmiddlewaretoken = $("form").find("input[name='csrfmiddlewaretoken']" ).val();
      $.ajax({
        url:"/setting/modifyPassword",
        type:"POST",
        data:{
          "csrfmiddlewaretoken" : csrfmiddlewaretoken,
          "oldPassword" : $("#oldPassword").val(),
          "newPassword1" : $("#newPassword1").val(),
          "newPassword2" : $("#newPassword2").val()
        },
        success: function(response){
          console.log(response);
          alert(response);
        },
        error: function(error){
          alert("修改完成");
        }
      });

      return false;
    });

    function BackToPage(){
      window.location.href = "/setting/";
    }
  });
</script>
{% endblock %}
