{% extends 'base.html' %}
{% load static %}
{% load myTemplatetags %}

{% block title %}
<title>Realive</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/liveSetting.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mainArea">
    <form id="streamForm" action="" method="post">
        {% csrf_token %}
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">填入youtube嵌入網址  https://www.youtube.com/embed/</span>
            </div>
            <input type="text" class="form-control" id="youtubeUrl" name="youtubeUrl" value={{ youtubeUrl }}>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">實況類型</span>
            </div>
            <input type="text" class="form-control" id="category" name="category" value={{ category }}>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">實況簡介</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" id="introduction"  name="introduction" value={{ introduction }}>{{ introduction }}</textarea>
        </div>
        <input type="hidden" id="state" name="state" />
    </form>
    <div class="row">
        <div class="col-md-7">
            <input id="openLive" class="btn btn-primary" onclick="onOpenLiveButtonClick()" value="開始實況" />
            <input id="closeLive" class="btn btn-primary" onclick="onCloseLiveButtonClick()" value="關閉實況" />
        </div>
        <div class="col-md-5"></div>
    </div>
    <p id="message">{{ message }}</p>
    <div class="row">
        <div class="col-md-7">
            <div id="player"></div>
        </div>
        <div class="col-md-5">
            <textarea readonly class="form-control" rows="16" id="chat-log"></textarea>
            <input id="chat-message-input" type="text" /><br />
            <input class="btn btn-primary" id="chat-message-submit" type="button" value="發送" />
        </div>
    </div>
    <div class="row">
        <div id="happyPanel">
            <img class="icon" src="{% static 'icon/happy.png' %}" alt="Happy" title="Happy">
            <p id=happyCount>0</p>
        </div>
        <div id="surprisedPanel">
            <img class="icon" src="{% static 'icon/surprised.png' %}" alt="Surprised" title="Surprised">
            <p id=surprisedCount>0</p>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/keys.js' %}"></script>
<script type="text/javascript">
var vid = '{{ youtubeUrl }}';

if ('{{ isLive }}' == 'True') {
    $('#youtubeUrl').prop('readonly', true);
    $('#openLive').val('修改實況資訊');
    $('#state').val('2');
    var timer = setInterval(updateEmotionData, 1000);

    // This function creates an <iframe> (and YouTube player) after the API code downloads
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            width: '100%',
            videoId: vid,
            events: {
                'onReady': onPlayerReady,
            }
        });
    }
}
else {
    $('#state').val('1');
}

function updateEmotionData() {
    csrfmiddlewaretoken = $("form").find("input[name='csrfmiddlewaretoken']" ).val();
    $.ajax({
        url:"/liveSetting/{{ streamerName }}/updateEmotionData",
        type:"POST",
        data: {
            "csrfmiddlewaretoken": csrfmiddlewaretoken,
            "vid": vid,
        },
        success: function(response) {
            if (response.status == 'ok') {
                $('#happyCount').text(response.happy);
                $('#surprisedCount').text(response.surprised);
            }
            else {
                console.log('Error, cannot update emotion data.');
            }
        }
    });
}
</script>

<script src="{% static 'js/liveSetting.js' %}"></script>
<script src="{% static 'js/chatChannel.js' %}"></script>
{% endblock %}
