{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Realive</title>
{% endblock %}

{% block css %}
<!-- None others css -->
{% endblock %}

{% block content %}
<div class="container-fluid mainArea">
    <div class="row">
        <div class="col-md-7">
            <iframe width="854" height="480" src="https://www.youtube.com/embed/{{ youtubeUrl }}">
            </iframe>
        </div>
        <div class="col-md-5">
            <textarea readonly class="form-control" rows="16" id="comment"></textarea>
            <input id="chat-message-input" type="text" size="25" /><br />
            <input class="btn btn-primary" id="chat-message-submit" type="button" value="發送" />
            <input class="btn btn-primary" type="button" value="開啟情緒分享" />
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/chatChannel.js' %}"></script>
{% endblock %}
