{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Realive</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/statistics.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mainArea">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-7 nopadding">
            <div id="player"></div>
        </div>
        <div class="col-3 nopadding playerlist_container">
            <p class="listHeader">直播影片紀錄</p>
            <ul class="playlist"></ul>
            <form id="vidForm" method="post" action="">
                {% csrf_token %}
                <input id="vidInput" type="hidden" name="vid" value="">
            </form>
        </div>
        <div class="col-1"></div>
    </div>

    <hr width="85%">

    <div id="selecter" class="row"></div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 chartWrapper">
            <div class="chartAreaWrapper">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/keys.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>

<!-- initial data -->
<script type="text/javascript">
var t = {{ time|safe }},
    angey = {{ angryData }},
    disgust = {{ disgustData }},
    fear = {{ fearData }},
    happy = {{ happyData }},
    sad = {{ sadData }},
    surprise = {{ surpriseData }};
    n = t.length,
    myChart;
</script>
<script src="{% static 'js/statistics.js' %}"></script>
<script type="text/javascript">
{% if not request.user.is_authenticated %}
    alert("請先登錄");
{% else %}
    {% for video in videos %}
        uploadVideo("{{ video.vid }}");
    {% endfor %}
    {% if vid != None %}
        // This code loads the IFrame Player API code asynchronously
        var tag = document.createElement('script');
        tag.src = "http://www.youtube.com/iframe_api";

        // Inserting this script
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // This function creates an <iframe> (and YouTube player) after the API code downloads
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                width: '100%',
                videoId: '{{ vid }}',
                events: {
                    'onReady': onPlayerReady,
                }
            });
        }

        function onPlayerReady(event) {
            event.target.playVideo();
        }
        updateSelecter({{ hours }});
        setChartWidth(n);

        // create first chart
        if (n > 3600) {
            createChart(t.slice(0, 3600), angey.slice(0, 3600), disgust.slice(0, 3600),
                        fear.slice(0, 3600), happy.slice(0, 3600), sad.slice(0, 3600),
                        surprise.slice(0, 3600));
        }
        else {
            createChart(t, angey, disgust, fear, happy, sad, surprise);
        }
    {% endif %}
{% endif %}
</script>
{% endblock %}
