{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Realive</title>
{% endblock %}

{% block css %}
<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/kendo.common-material.min.css' %}">
<link rel="stylesheet" href="{% static 'css/kendo.material.min.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mainArea">
    <div id="streamer_grid">
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/kendo.all.min.js' %}"></script>
<script src="{% static 'js/uikit.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/loginForm.js' %}"></script>
{% endblock %}
