<!-- 登入頁面 -->
<div id="loginForm" style="display:none" class="container">

    <form action="/accounts/login/" method="POST">
        {% csrf_token %}
        <div>
            <label class="row" for="uname"><b>使用者名稱</b></label>
            <input class="row" type="text" placeholder="Enter Username" name="uname" id="uname" required>

            <label class="row" for="psw"><b>密碼</b></label>
            <input class="row" type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <div class="row">
                <button class="col btn btn-primary" type="submit" id="loginSubmitBtn" value="login">登入</button>
                <button class="col btn btn-primary" type="button" id="registerBtn" value="register" onclick="location.href='/accounts/register'">註冊</button>
            </div>
            <label>
                <input type="checkbox" checked="checked" name="remember"> 記住我
            </label>
        </div>
    </form>
</div>
