{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Realive</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/statistics.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mainArea">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-7 nopadding">
            <iframe id="player" width="100%">
            </iframe>
        </div>
        <div class="col-3 nopadding playerlist_container">
            <button class="connect_button">連接Youtube影片</button>
            <ul class="playlist"></ul>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 col-sm-2 col-md-2">
            <label>情緒反應:</label>
            <form>
                <select name="emotion">
                    <option value="Angry">生氣</option>
                    <option value="Disgust">困惑</option>
                    <option value="Fear">害怕</option>
                    <option value="Happy">開心</option>
                    <option value="Sad">難過</option>
                    <option value="Surprise">驚訝</option>
                    <option value="Neutral">其他</option>
                </select>
            </form>
        </div>
        <div class="col-4 col-sm-2 col-md-2">
            <label>時間單位:</label>
            <form>
                <select name="timeline">
                    <option value="second">秒</option>
                    <option value="minute" selected>分</option>
                    <option value="hour">小時</option>
                </select>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 canvasRoom">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/statistics.js' %}"></script>
{% endblock %}
