<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Realive</title>

    <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- ICON 連結 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--Kendo Css-->
    <link rel="stylesheet" href="{% static 'css/kendo.common-material.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/kendo.material.min.css' %}">
</head>
{% block content %}

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
        <div class="container">
            <a class="navbar-brand" href="">
                <i class="fas fa-video"></i><span class="nav-item"></span>Realive</a>
        </div>
    </nav>
    <div class="container mainArea">
        <form>
            <label for="basic-url">填入youtube嵌入網址</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://www.youtube.com/embed/</span>
                </div>
                <input type="text" class="form-control" id="youtubeUrl" aria-describedby="basic-addon3"
                    value={{ youtubeUrl }}>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">暱稱</span>
                </div>
                <input type="text" class="form-control" id="nickName" aria-describedby="basic-addon3"
                    value={{ nickName }}>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">實況簡介</span>
                </div>
                <textarea class="form-control" aria-label="With textarea">{{ introduction }}</textarea>
            </div>
            <button class="btn btn-primary" id="updataBtn">修改</button>
        </form>
    </div>
</body>
{% endblock %}

</html>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/kendo.all.min.js' %}"></script>
<script src="{% static 'js/uikit.min.js' %}"></script>
<script>
    $("#updataBtn").click(function () {
        $.ajax({
            type: "POST",
            url: "/updata",
            data: $("form").serialize(),
            success: function (data) {
                alert("修改完成");
            },
            error: function (xhr, text, error) {
                alert('系統錯誤: ' + error);
            }
        })
    })
</script>