@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 16px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.jsgrid-header-row>.jsgrid-header-cell {
  background: #00B4CC;
  color: #f9f9f9;
}

.img-streamer{
  width: 100%;
}

#searchOption{
  width: 168px;
  height: 36px;
}

@media screen and (max-width: 1300px) {
  .hide-lg{
    display:none;
  }
}

@media screen and (max-width: 991px) {
  .hide-md{
    display:none;
  }
}

@media screen and (max-width: 720px) {
  .hide-sm{
    display:none;
  }
}
