.btn{
    margin: 0px;
}

@media screen and (min-width: 1025px) {
    #player, #chat-log {
         height: 480px;
    }
}

@media screen and (max-width: 1024px) {
    #player, #chat-log {
         height: 360px;
    }
}

@media screen and (max-width: 767px) {
	.btn {
		font-size: 12px;
	}

    #chat-log {
         height: 180px;
         margin-top: 8px;
    }
}

@media screen and (max-width: 480px) {
    .btn{
        font-size: 10px;
    }

    #player {
         height: 240px;
    }

    #chat-log {
         height: 100px;
    }
}
