#loginWindow input{
  width: 90%;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#loginWindow .btn{
  width: 20%;
  margin-right: 16px;
  margin-left: 24px;
}
@media screen and (max-width: 610px) {
  .k-widget .k-window{
    width: 100%;
  }
}
