#player {
	background-color: black;
}

p.listHeader {
	margin: 0px 0px 0px 3px;
    background-color: #17a2b8;
	color: white;
	width: 100%;
	text-align: center;
}

p.videoTitle {
	text-overflow : ellipsis;
}

ul.playlist {
	margin: 0;
	padding: 0;
    margin-left: 3px;
	list-style: none;
	width: 100%;
    height: 95%;
	float: left;
    overflow: auto;
}

ul.playlist li {
    width: 100%;
	margin: 0px 0px 3px 0px;
	float: left;
}

ul.playlist li:hover {
    background-color: gray;
}

ul.playlist li a {
    padding: 0;
}

ul.playlist li a img {
	border: 0;
    width: 100%;
    height: 100%;
	vertical-align: middle;
}

ul.playlist li p {
	margin: auto;
}

.chartWrapper {
  	position: relative;
  	overflow-x: scroll;
}

.chartWrapper > canvas {
  	position: absolute;
  	left: 0;
  	top: 0;
  	pointer-events: none;
}

.chartAreaWrapper {
	height: 600px;
}

.nopadding {
    padding: 0;
}

.navbar-toggler {
    width: auto;
    margin: 0;
}

@media screen and (min-width: 1025px) {
    #player, .playerlist_container {
         height: 576px;
    }

	.listHeader {
		font-size: 18px;
		height: 5%;
	}
}

@media screen and (max-width: 1024px) {
    #player, .playerlist_container {
         height: 405px;
    }

	.videoTitle {
		font-size: 12px;
	}

	.listHeader {
		font-size: 12px;
		height: 5%;
	}
}

@media screen and (max-width: 480px) {
    #player, .playerlist_container {
         height: 189px;
    }

	.videoTitle {
		display: none;
	}

	.listHeader {
		font-size: 12px;
		height: 10%;
	}
}
