p.listHeader {
	margin: 0px;
    background-color: #17a2b8;
	color: white;
	width: 100%;
	height: auto;
	text-align: center;
}

ul.playlist {
	margin: 0px;
	padding: 0px;
	width: 100%;
    overflow: auto;
	list-style: none;
	white-space: nowrap;
}

ul.playlist li {
	margin: 0px 3px 0px 0px;
	display: inline-block;
}

ul.playlist li a {
    padding: 0;
}

ul.playlist li a img {
	border: 0;
    width: 10;
    height: 5;
}

.chartWrapper {
  	position: relative;
  	overflow-x: scroll;
}

.chartWrapper > canvas {
  	position: absolute;
  	left: 0;
  	top: 0;
  	pointer-events: none;
}

.chartAreaWrapper {
	height: 600px;
}

.navbar-toggler {
    width: auto;
    margin: 0;
}

#chat-log {
		height: 95%;
}

@media screen and (min-width: 1025px) {
    #player, .chat_container {
         height: 480px;
    }

	.listHeader {
		font-size: 18px;
		height: 5%;
	}
}

@media screen and (max-width: 1024px) {
    #player, .chat_container {
         height: 360px;
    }

	.listHeader {
		font-size: 12px;
		height: 5%;
	}
}

@media screen and (max-width: 767px) {
	.chat_container {
         height: 180px;
		 margin-top: 3px;
    }

	.listHeader {
		font-size: 12px;
		height: 10%;
	}
}

@media screen and (max-width: 480px) {
    #player {
         height: 240px;
    }

	.chat_container {
         height: 100px;
    }
}
