.main {
    margin-top: 70px;
}

.connect_button {
    margin: 0px 0px 0px 3px;
    background-color: #17a2b8;
    height: 10%;
}

ul.playlist {
	margin: 0;
	padding: 0;
    margin-left: 3px;
	list-style: none;
	width: 100%;
    height: 90%;
	float: left;
    overflow: auto;
}

ul.playlist li {
    width: 100%;
	margin: 0px 0px 3px 0px;
	float: left;

}

ul.playlist li:hover {
    background-color: gray;
}

ul.playlist li a {
    padding: 0;
}

ul.playlist li a img {
	border: 0;
    width: 100%;
    height: 100%;
	vertical-align: middle;
}

ul.playlist li p {
	margin: auto;
}

.nopadding {
    padding: 0;
}

.navbar-toggler {
    width: auto;
    margin: 0;
}

@media screen {
    #player, .playerlist_container {
         height: 189px;
    }
}

@media screen and (min-width: 768px) {
    #player, .playerlist_container {
         height: 405px;
    }
}

@media screen and (min-width: 1200px) {
    #player, .playerlist_container {
         height: 576px;
    }
}
