.nav-item
{
    margin-right: 30px;
}

.fas .fa-video{
    margin-right: 30px;
}

.goToBtn {
    width: 100%;
}

.mainArea
{
    padding-top: 75px;
}

#player {
	background-color: black;
}

#chat-message-input {
    width: 100%;
}

.hide
{
   display:none;
}
